@charset "UTF-8";

/* Para todas as demais mídias */

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background: url(../imagens/back-print.jpg);
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: "Essa impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: underline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: block; }
    #pc { display: none; }
    #tv { display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: url(../imagens/back-tablet.jpg);
    }
    #phone { display: none; }
    #tablet { display: block; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background: url(../imagens/back-pc.jpg);
    }
    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: block; }
    #tv { display: none; }
}

@media screen and (min-width: 1200px) {
    body {
        background: url(../imagens/back-tv.jpg);
    }

    #phone { display: none; }
    #tablet { display: none; }
    #print { display: none; }
    #pc { display: none; }
    #tv { display: block; }
}