@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
    background-color:#84E1AD;
    margin: 0px;
}

header{ 
  background-image: linear-gradient(to bottom, #39CC7B, #299056);
  padding: 8px;
  margin: none;
  text-align: center;
  color: white;
}

nav{
  text-align: left;
  padding: 2px;
}
nav > a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 7px;
  font-size: 14px;
}

@import url(https://db.onlinewebfonts.com/c/c6d0c3476f03737f8893e7e596ab8aef?family=Android+7);

@font-face {
  font-family: "Android 7";
  src: url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.eot");
  src: url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/c6d0c3476f03737f8893e7e596ab8aef.svg#Android 7")format("svg");
}


h2{
 color: #155834;
  padding: 10px;
  font-family: "Android 7";
  display: inline-block;
}

#tamanho{
  font-size: 19px;
}

.especial{
  background-color: #6fbb914b;
}


main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 9px #b5cfc1bd;
  width: 600px;
  padding: 10px;
  margin: auto;
}

p{
  text-align: justify;
}

.cabecalho{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

#imagens{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  font-weight: bold;
}


a:after{
  content:' ☍'
}

a:hover{
  color: rgb(34, 102, 158);
  text-decoration: underline;
}

#video{
  background-color: #299056;
  padding: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

}

#paragrafo{
  background-color:#45b175;
  color: white;
  font-weight: bold;
  padding: 1px;
 
}